html,
body {
  margin: 0;
  padding: 0;
  align-self: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}

canvas {
  /* margin-top: 100px;
  margin-left: 25%;
  margin-right: 25%; */
  display: block;
  border: 2px solid rgb(22, 12, 17)
}

h2 {
  text-align: center;
}

input {
  border-radius: 10px;
  padding: 5px;
  border: none;
  box-shadow: 1px 2px 10px orange;
}

input:focus {
  outline: 2px solid orangered;
  border-radius: 10px;
}

button {
  background-color: coral;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 1px 2px 10px orangered;
  color: white;
}

button:active {
  box-shadow: none;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 2px 10px orangered;
  color: orange;
  font-size: 50px;
}